//* 顏色變數

$primary-color: hsl(211, 100%, 50%);
$secondary-color: #6c757d;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$light-color: #f8f9fa;
$dark-color: #343a40;

//* 字體變數

$font-family-base: "Arial", sans-serif;
$font-size-base: 16px;
$font-size-large: 1.25rem;
$font-size-small: 0.875rem;

//* 間距變數

$spacing-unit: 8px;
$spacing-small: $spacing-unit * 0.5;
$spacing-medium: $spacing-unit;
$spacing-large: $spacing-unit * 2;
$spacing-xlarge: $spacing-unit * 3;

//* 邊框變數
$border-radius: 4px;
$border-width: 1px;
$border-color: #dee2e6;

//*斷點變數
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
